body {
    margin: 0;
    font-family: Arial;
    text-align: center;
}

header {
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    color: white;
    padding: 100px 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: #4CAF50;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

section {
    padding: 40px 20px;
}

.services {
    background-color: #f4f4f4;
}

.box {
    display: inline-block;
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    box-shadow: 0 0 10px #ccc;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
}